.search {
    position: relative;
    display: inline-block;
}

.fa-search {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.customerName {
    padding-left: 10px;
    padding-right: 40px;
    height: 40px;
    width: 400px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    outline: none;
}

.customerName:focus {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.search:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.result {
    border-radius: 3px;
    width: 450px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.result>li {
    cursor: pointer;
    list-style: none;
    padding: 5px 0 5px 10px;

}